# Virtual environment
tweet_env/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Models
models/

# Environnement système
.DS_Store

# Logs
*.log

# Environnement Docker (optionnel)
docker-compose.override.yml
